<div class="col-md-12">
  <h3>Add a new link</h3>
  <form ng-submit="LinksFactory.addLink()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="LinksFactory.linkTitle" size="50" class="form-control" placeholder="Enter a title" autofocus required>
    </div>
    <div class="form-group">
      <input type="text" ng-model="LinksFactory.linkUrl" size="50" class="form-control" placeholder="Enter a link" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<style>
td {
  padding: 0 10px;
}
.title_link {
  font-size: 28px;
}
</style>
<div ng-show="links.length" class="col-md-12">
  <h3>Latest:</h3>
  <table>
    <tr ng-repeat="item in links | orderBy:'orderPost':true">
      <td>
        <table>
          <tr>
            <td width="150">
              <button ng-click="item.addVote(); love = true" ng-hide="love || hate" class="btn btn-info xl">LOVE</button>
              <button ng-click="item.subtractVote(); love = false" ng-hide="!love" class="btn btn-success xl">LOVED</button>
              <button ng-click="item.subtractVote(); hate = true" ng-hide="hate || love" class="btn btn-info xl">HATE</button>
              <button ng-click="item.addVote(); hate = false" ng-hide="!hate" class="btn btn-danger xl">HATED</button>
            </td>
            <td>
          <table>
            <tr>
              <td>
                <a class="title_link" href="{{ item.url }}" target="_blank">{{ item.title }}</a>
              </td>
            </tr>
          </table>
          <table>
              <td>
                <a ui-sref="links.comments({ linkId: item.id })">{{ item.comments.length }} Comments</a>
              </td>
              <td>
                {{ item.points }} points since {{ item.dateCreated.toLocaleString() }}
              </td>
            </tr>
          </table>
        </table>
      </td>
    </tr>
  </table>
      </td>
    </li>
  </ul>
</div>
</div>

<br>
<div ui-view> </div>
